<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>demo</display-name>


    <!-- ===================================== Standard Action Servlet Configuration (with debugging) ===================================== -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/config/applicationContext.xml,
        </param-value>
    </context-param>


    <!-- ===================================== Standard Action Servlet Mapping ===================================== -->





    <!-- ===================================== Welcome List ===================================== -->
    <!--<welcome-file-list>-->
        <!--<welcome-file>/Product</welcome-file>-->
    <!--</welcome-file-list>-->


    <session-config>
        <session-timeout>80</session-timeout>
    </session-config>

    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/htm/chucuola.htm</location>-->
    <!--</error-page>-->

    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/htm/chucuola.htm</location>-->
    <!--</error-page>-->

    <!--<error-page>-->
        <!--<exception-type>java.lang.Exception</exception-type>-->
        <!--<location>/htm/chucuola.htm</location>-->
    <!--</error-page>-->


    <!-- ===================================== JSP Config ===================================== -->
    <jsp-config>



        <!--<taglib>-->
        <!--<taglib-uri>spring.tld</taglib-uri>-->
        <!--<taglib-location>/WEB-INF/tld/spring.tld</taglib-location>-->
        <!--</taglib>-->
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>

    </jsp-config>

    <!-- ===================================== Filter List ===================================== -->

    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>
            org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
        </filter-class>
        <init-param>
            <param-name>singleSession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>



    <filter>
        <filter-name>mainFilter</filter-name>
        <filter-class>com.demo.utils.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--<filter>-->
    <!--<filter-name>UrlRewriteFilter</filter-name>-->
    <!--<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>UrlRewriteFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
    <!--</filter-mapping>-->

    <filter>
        <filter-name>actionFilter</filter-name>
        <filter-class>com.demo.utils.ActionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>actionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>




    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>


    <listener>
        <listener-class>
            com.demo.config.LifecycleInit
        </listener-class>
    </listener>


</web-app>

